<table class="table">
<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus"></i>
</button>
  <thead>
    <tr>
      <th scope="col">no</th>
      <th scope="col">Nama Kategory</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <% for(let i = 0; i < data.length; i++){ %>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= data[i].nama_kategori %></td>
            <td>
               <form action="/admin/category/<%= data[i].id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">hapus</button>
                <a class="btn btn-warning btn-sm" href="/admin/category/<%= data[i].id %>">update</a>
              </form>
            </td>
        </tr>
     <% } %>
  </tbody>
</table>